<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PLCServerClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PLCServerClient.Properties.Settings>
      <setting name="IpAddress" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="PLCName" serializeAs="String">
        <value>plc4</value>
      </setting>
      <setting name="ApplicationName" serializeAs="String">
        <value>HmiExample</value>
      </setting>
      <setting name="PLCServerApplicationName" serializeAs="String">
        <value>PLCServer</value>
      </setting>
    </PLCServerClient.Properties.Settings>
  </userSettings>
</configuration>